In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df_cr_unr = pd.read_csv('Complaint_Unemployed.csv')
df_cr_unr.rename(columns = {'CMPLNT_FR_DT': 'Month'}, inplace=True)
df_cr_unr.Month = pd.to_datetime(
    df_cr_unr.Month, errors='coerce', infer_datetime_format = True)
df_cr_unr.drop('Unnamed: 0', axis = 1, inplace = True)

In [18]:
df_cr_unr

         Month  Count  unem_r
0   2006-01-01  16392     5.1
1   2006-02-01  13101     5.3
2   2006-03-01  15572     5.0
3   2006-04-01  15123     4.6
4   2006-05-01  16679     4.5
5   2006-06-01  16607     4.5
6   2006-07-01  17484     4.8
7   2006-08-01  18092     4.4
8   2006-09-01  17266     4.2
9   2006-10-01  17782     3.9
10  2006-11-01  16687     4.1
11  2006-12-01  17097     4.0
12  2007-01-01  16241     5.0
13  2007-02-01  12597     4.9
14  2007-03-01  14669     4.4
15  2007-04-01  14256     4.2
16  2007-05-01  16656     4.2
17  2007-06-01  16583     4.5
18  2007-07-01  17365     4.9
19  2007-08-01  17547     4.5
20  2007-09-01  16834     4.5
21  2007-10-01  17493     4.4
22  2007-11-01  16232     4.4
23  2007-12-01  16684     4.8
24  2008-01-01  16463     5.5
25  2008-02-01  13551     5.4
26  2008-03-01  14839     5.2
27  2008-04-01  14787     4.6
28  2008-05-01  16203     4.9
29  2008-06-01  16301     5.1
..         ...    ...     ...
126 2016-07-01  14940     5.1
127 2016-08-01  15783     5.0
128 2016-09-01  14479     4.9
129 2016-10-01  15101     4.8
130 2016-11-01  13980     4.5
131 2016-12-01  14554     4.6
132 2017-01-01  13428     5.3
133 2017-02-01  11467     5.3
134 2017-03-01  12330     4.7
135 2017-04-01  12834     4.4
136 2017-05-01  14138     4.4
137 2017-06-01  14134     4.6
138 2017-07-01  15205     4.9
139 2017-08-01  15511     5.0
140 2017-09-01  14616     4.6
141 2017-10-01  15108     4.4
142 2017-11-01  14059     4.4
143 2017-12-01  13978     4.4
144 2018-01-01  13022     5.0
145 2018-02-01  11888     5.1
146 2018-03-01  12713     4.6
147 2018-04-01  12919     4.0
148 2018-05-01  14108     3.7
149 2018-06-01  14289     4.1
150 2018-07-01  15205     4.2
151 2018-08-01  15466     4.0
152 2018-09-01  14024     3.6
153 2018-10-01  14254     3.6
154 2018-11-01  13335     3.5
155 2018-12-01  12455     3.9

[156 rows x 3 columns]