In [1]:
import pandas as pd
import pandas.tseries
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np
import random
import math
import seaborn as sns; sns.set()
from datetime import datetime
%matplotlib inline
import requests

In [8]:
from bs4 import BeautifulSoup
import urllib3, csv, os, datetime, urllib3.request, re, sys

In [2]:
from config import keykey

In [7]:
# from darksky import forecast
# NewYork = forecast(key, 40.7829, 73.9654)

In [ ]:
# 40.7128° N, -74.0060° W

In [49]:
# NewYork = key, 40.7128, -74.0060
# from datetime import datetime as dt
# t = dt(2013, 2, 6, 12).isoformat()
# NewYork = forecast(*NewYork, time=t)
# NewYork.timezone

'America/New_York'

In [55]:
# NewYork['currently']['temperature']
# NewYork.time

1360170000

In [43]:
#NewYork.timezone

'America/New_York'

In [57]:
# from datetime import datetime
# # ts = int("1284101485")

# # if you encounter a "year is out of range" error the timestamp
# # may be in milliseconds, try `ts /= 1000` in that case
# print(datetime.utcfromtimestamp(NewYork.time).strftime('%Y-%m-%d'))

2013-02-06

In [3]:
r = requests.get(
    'https://api.darksky.net/forecast/'
    + keykey
    +'/40.7829,-73.9654,2006-03-04T12:12:12'
)

In [66]:
r.json()['daily']['data'][0]['temperatureHigh']

38.33

In [67]:
daily_high_temp = {}
url = 'https://api.darksky.net/forecast/'
ny_coord = '/40.7829,-73.9654'
midday = 'T12:00:00'

In [4]:
r = requests.get('http://example.com/json')

In [5]:
from calendar import monthrange

In [6]:
def weather_api(year):    
    daily_high_temp = {}
    url = 'https://api.darksky.net/forecast/'
    ny_coord = '/40.7829,-73.9654,'
    midday = 'T12:00:00'
    
    for i in range(1,13):
        print(i)
        days = monthrange(year, i)[1]
        
        for j in range(1, days+1):
            if i < 10:
                month = '0'+ str(i)
            
            else:
                month = str(i)
            
            if j < 10:
                day = '0' + str(j)
            
            else:
                day = str(j)
            
            r = requests.get(url + keykey
                             + ny_coord + str(year)
                             + '-' + month + '-' + day + midday)
            dict_key = str(year) + '-' + month + '-' + day
            value = r.json()['daily']['data'][0]['temperatureHigh']
            
            daily_high_temp[dict_key] = value
    
    return pd.DataFrame.from_dict(daily_high_temp, orient='index')

In [10]:
df_temp_2017 = weather_api(2017)

1
2
3
4
5
6
7
8
9
10
11
12

In [85]:
df_temp_2007.to_csv('df_temp_2007.csv')
df_temp_2007

In [88]:
df_temp_2009.to_csv('df_temp_2009.csv')
df_temp_2009

In [15]:
df_temp_2011.to_csv('df_temp_2011.csv')
df_temp_2011

In [18]:
df_temp_2013.to_csv('df_temp_2013.csv')
df_temp_2013

In [9]:
df_temp_2015.to_csv('df_temp_2015.csv')
df_temp_2015

In [11]:
df_temp_2017.to_csv('df_temp_2017.csv')
df_temp_2017

                0
2017-01-01  47.32
2017-01-02  39.71
2017-01-03  43.17
2017-01-04  50.85
2017-01-05  31.74
2017-01-06  32.35
2017-01-07  22.94
2017-01-08  24.02
2017-01-09  22.74
2017-01-10  35.33
2017-01-11  51.31
2017-01-12  63.89
2017-01-13  48.18
2017-01-14  31.94
2017-01-15  38.47
2017-01-16  42.94
2017-01-17  38.97
2017-01-18  40.75
2017-01-19  47.11
2017-01-20  43.39
2017-01-21  49.05
2017-01-22  48.00
2017-01-23  41.09
2017-01-24  38.48
2017-01-25  47.77
2017-01-26  52.47
2017-01-27  42.17
2017-01-28  37.73
2017-01-29  42.36
2017-01-30  36.27
...           ...
2017-12-02  47.36
2017-12-03  47.02
2017-12-04  49.44
2017-12-05  59.49
2017-12-06  46.37
2017-12-07  44.12
2017-12-08  37.57
2017-12-09  34.51
2017-12-10  38.45
2017-12-11  40.66
2017-12-12  48.31
2017-12-13  30.53
2017-12-14  31.41
2017-12-15  27.11
2017-12-16  37.07
2017-12-17  36.66
2017-12-18  44.58
2017-12-19  54.36
2017-12-20  43.43
2017-12-21  39.56
2017-12-22  44.68
2017-12-23  46.00
2017-12-24  39.38
2017-12-25  36.21
2017-12-26  27.54
2017-12-27  23.95
2017-12-28  17.87
2017-12-29  21.19
2017-12-30  22.40
2017-12-31  15.03

[365 rows x 1 columns]