In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 156)

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("/Users/menachikorn/Library/Application Support/Google/Chrome/Default")
driver = webdriver.Chrome(
    executable_path='/Users/menachikorn/Programming/chromedriver_mac64/chromedriver',
    chrome_options=options)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: use options instead of chrome_options
  """

In [3]:
driver.get('https://labor.ny.gov/stats/laus.asp')

In [4]:
path = ('//*[@id="ux-page"]/div/div[2]')
text = driver.find_element_by_xpath(path)
text = text.text

In [5]:
splited = text.split('\n')

In [6]:
unemployed = []
for i in range(24,11,-1):
    almost_ready = splited[i].split('%')
    almost_ready.pop()
    ready = almost_ready[0].split(' ') + almost_ready[1:-1]
    unemployed.append(ready)

In [8]:
moudi = pd.DataFrame(np.array(unemployed).reshape(13,13))
moudi

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2006,5.1,5.3,5.0,4.6,4.5,4.5,4.8,4.4,4.2,3.9,4.1,4.0
1,2007,5.0,4.9,4.4,4.2,4.2,4.5,4.9,4.5,4.5,4.4,4.4,4.8
2,2008,5.5,5.4,5.2,4.6,4.9,5.1,5.4,5.5,5.5,5.6,5.9,6.5
3,2009,7.8,8.3,8.2,7.7,8.0,8.4,8.5,8.5,8.6,8.7,8.5,8.8
4,2010,9.6,9.5,9.1,8.5,8.2,8.4,8.6,8.4,8.2,8.2,8.4,8.2
5,2011,9.0,8.8,8.2,7.8,7.8,8.2,8.4,8.2,8.3,8.2,8.2,8.4
6,2012,9.2,9.4,8.9,8.2,8.4,8.7,8.9,8.5,8.0,8.0,7.8,8.1
7,2013,9.1,8.7,8.0,7.4,7.5,7.9,7.9,7.7,7.4,7.4,7.0,6.7
8,2014,7.4,7.6,7.1,6.0,6.2,6.2,6.5,6.3,5.8,5.6,5.7,5.5
9,2015,6.4,6.2,5.6,5.2,5.3,5.2,5.4,5.0,4.7,4.7,4.7,4.7
10,2016,5.3,5.3,5.0,4.6,4.3,4.7,5.1,5.0,4.9,4.8,4.5,4.6
11,2017,5.3,5.3,4.7,4.4,4.4,4.6,4.9,5.0,4.6,4.4,4.4,4.4
12,2018,5.0,5.1,4.6,4.0,3.7,4.1,4.2,4.0,3.6,3.6,3.5,3.9

In [9]:
unemployed_df_prep = pd.DataFrame(np.array(unemployed).reshape(169,1))

In [10]:
unemployed_df_prep

        0
0    2006
1     5.1
2     5.3
3     5.0
4     4.6
5     4.5
6     4.5
7     4.8
8     4.4
9     4.2
10    3.9
11    4.1
12    4.0
13   2007
14    5.0
15    4.9
16    4.4
17    4.2
18    4.2
19    4.5
20    4.9
21    4.5
22    4.5
23    4.4
24    4.4
25    4.8
26   2008
27    5.5
28    5.4
29    5.2
30    4.6
31    4.9
32    5.1
33    5.4
34    5.5
35    5.5
36    5.6
37    5.9
38    6.5
39   2009
40    7.8
41    8.3
42    8.2
43    7.7
44    8.0
45    8.4
46    8.5
47    8.5
48    8.6
49    8.7
50    8.5
51    8.8
52   2010
53    9.6
54    9.5
55    9.1
56    8.5
57    8.2
58    8.4
59    8.6
60    8.4
61    8.2
62    8.2
63    8.4
64    8.2
65   2011
66    9.0
67    8.8
68    8.2
69    7.8
70    7.8
71    8.2
72    8.4
73    8.2
74    8.3
75    8.2
76    8.2
77    8.4
..    ...
91   2013
92    9.1
93    8.7
94    8.0
95    7.4
96    7.5
97    7.9
98    7.9
99    7.7
100   7.4
101   7.4
102   7.0
103   6.7
104  2014
105   7.4
106   7.6
107   7.1
108   6.0
109   6.2
110   6.2
111   6.5
112   6.3
113   5.8
114   5.6
115   5.7
116   5.5
117  2015
118   6.4
119   6.2
120   5.6
121   5.2
122   5.3
123   5.2
124   5.4
125   5.0
126   4.7
127   4.7
128   4.7
129   4.7
130  2016
131   5.3
132   5.3
133   5.0
134   4.6
135   4.3
136   4.7
137   5.1
138   5.0
139   4.9
140   4.8
141   4.5
142   4.6
143  2017
144   5.3
145   5.3
146   4.7
147   4.4
148   4.4
149   4.6
150   4.9
151   5.0
152   4.6
153   4.4
154   4.4
155   4.4
156  2018
157   5.0
158   5.1
159   4.6
160   4.0
161   3.7
162   4.1
163   4.2
164   4.0
165   3.6
166   3.6
167   3.5
168   3.9

[169 rows x 1 columns]

In [11]:
unemployed_df_prep.rename({0: 'unem_r'}, axis=1, inplace=True)

In [12]:
unemployed_df_prep.unem_r = pd.to_numeric(unemployed_df_prep.unem_r, errors='coerce')
unemployed_df = unemployed_df_prep[unemployed_df_prep['unem_r'] < 2000].reset_index(drop=True)

In [13]:
unemployed_df

     unem_r
0       5.1
1       5.3
2       5.0
3       4.6
4       4.5
5       4.5
6       4.8
7       4.4
8       4.2
9       3.9
10      4.1
11      4.0
12      5.0
13      4.9
14      4.4
15      4.2
16      4.2
17      4.5
18      4.9
19      4.5
20      4.5
21      4.4
22      4.4
23      4.8
24      5.5
25      5.4
26      5.2
27      4.6
28      4.9
29      5.1
30      5.4
31      5.5
32      5.5
33      5.6
34      5.9
35      6.5
36      7.8
37      8.3
38      8.2
39      7.7
40      8.0
41      8.4
42      8.5
43      8.5
44      8.6
45      8.7
46      8.5
47      8.8
48      9.6
49      9.5
50      9.1
51      8.5
52      8.2
53      8.4
54      8.6
55      8.4
56      8.2
57      8.2
58      8.4
59      8.2
60      9.0
61      8.8
62      8.2
63      7.8
64      7.8
65      8.2
66      8.4
67      8.2
68      8.3
69      8.2
70      8.2
71      8.4
72      9.2
73      9.4
74      8.9
75      8.2
76      8.4
77      8.7
78      8.9
79      8.5
80      8.0
81      8.0
82      7.8
83      8.1
84      9.1
85      8.7
86      8.0
87      7.4
88      7.5
89      7.9
90      7.9
91      7.7
92      7.4
93      7.4
94      7.0
95      6.7
96      7.4
97      7.6
98      7.1
99      6.0
100     6.2
101     6.2
102     6.5
103     6.3
104     5.8
105     5.6
106     5.7
107     5.5
108     6.4
109     6.2
110     5.6
111     5.2
112     5.3
113     5.2
114     5.4
115     5.0
116     4.7
117     4.7
118     4.7
119     4.7
120     5.3
121     5.3
122     5.0
123     4.6
124     4.3
125     4.7
126     5.1
127     5.0
128     4.9
129     4.8
130     4.5
131     4.6
132     5.3
133     5.3
134     4.7
135     4.4
136     4.4
137     4.6
138     4.9
139     5.0
140     4.6
141     4.4
142     4.4
143     4.4
144     5.0
145     5.1
146     4.6
147     4.0
148     3.7
149     4.1
150     4.2
151     4.0
152     3.6
153     3.6
154     3.5
155     3.9

In [14]:
df_monthly = pd.read_csv('monthly_count.csv')

In [15]:
df_monthly

    CMPLNT_FR_DT  Count
0     2006-01-01  16392
1     2006-02-01  13101
2     2006-03-01  15572
3     2006-04-01  15123
4     2006-05-01  16679
5     2006-06-01  16607
6     2006-07-01  17484
7     2006-08-01  18092
8     2006-09-01  17266
9     2006-10-01  17782
10    2006-11-01  16687
11    2006-12-01  17097
12    2007-01-01  16241
13    2007-02-01  12597
14    2007-03-01  14669
15    2007-04-01  14256
16    2007-05-01  16656
17    2007-06-01  16583
18    2007-07-01  17365
19    2007-08-01  17547
20    2007-09-01  16834
21    2007-10-01  17493
22    2007-11-01  16232
23    2007-12-01  16684
24    2008-01-01  16463
25    2008-02-01  13551
26    2008-03-01  14839
27    2008-04-01  14787
28    2008-05-01  16203
29    2008-06-01  16301
30    2008-07-01  17313
31    2008-08-01  18086
32    2008-09-01  17364
33    2008-10-01  17742
34    2008-11-01  16087
35    2008-12-01  16496
36    2009-01-01  14628
37    2009-02-01  12592
38    2009-03-01  14266
39    2009-04-01  13927
40    2009-05-01  15235
41    2009-06-01  15193
42    2009-07-01  16294
43    2009-08-01  16686
44    2009-09-01  16331
45    2009-10-01  16586
46    2009-11-01  15534
47    2009-12-01  15315
48    2010-01-01  15140
49    2010-02-01  11317
50    2010-03-01  14172
51    2010-04-01  14663
52    2010-05-01  15366
53    2010-06-01  15604
54    2010-07-01  16467
55    2010-08-01  16333
56    2010-09-01  16184
57    2010-10-01  17077
58    2010-11-01  15515
59    2010-12-01  14387
60    2011-01-01  13272
61    2011-02-01  12201
62    2011-03-01  14170
63    2011-04-01  14103
64    2011-05-01  15467
65    2011-06-01  15728
66    2011-07-01  16538
67    2011-08-01  16235
68    2011-09-01  15719
69    2011-10-01  16342
70    2011-11-01  15943
71    2011-12-01  15889
72    2012-01-01  14842
73    2012-02-01  13451
74    2012-03-01  14503
75    2012-04-01  14246
76    2012-05-01  16062
77    2012-06-01  15944
78    2012-07-01  16812
79    2012-08-01  17196
80    2012-09-01  16053
81    2012-10-01  16287
82    2012-11-01  14611
83    2012-12-01  15783
84    2013-01-01  14734
85    2013-02-01  12182
86    2013-03-01  13789
87    2013-04-01  14294
88    2013-05-01  15706
89    2013-06-01  15618
90    2013-07-01  17159
91    2013-08-01  17332
92    2013-09-01  16810
93    2013-10-01  17367
94    2013-11-01  15470
95    2013-12-01  15786
96    2014-01-01  14432
97    2014-02-01  12117
98    2014-03-01  13847
99    2014-04-01  13787
100   2014-05-01  15824
101   2014-06-01  15788
102   2014-07-01  16853
103   2014-08-01  17137
104   2014-09-01  16082
105   2014-10-01  16578
106   2014-11-01  14431
107   2014-12-01  14386
108   2015-01-01  13099
109   2015-02-01  10872
110   2015-03-01  13122
111   2015-04-01  14010
112   2015-05-01  15497
113   2015-06-01  15139
114   2015-07-01  16273
115   2015-08-01  16473
116   2015-09-01  15583
117   2015-10-01  15727
118   2015-11-01  14633
119   2015-12-01  15355
120   2016-01-01  13395
121   2016-02-01  12094
122   2016-03-01  13577
123   2016-04-01  13833
124   2016-05-01  14576
125   2016-06-01  14713
126   2016-07-01  14940
127   2016-08-01  15783
128   2016-09-01  14479
129   2016-10-01  15101
130   2016-11-01  13980
131   2016-12-01  14554
132   2017-01-01  13428
133   2017-02-01  11467
134   2017-03-01  12330
135   2017-04-01  12834
136   2017-05-01  14138
137   2017-06-01  14134
138   2017-07-01  15205
139   2017-08-01  15511
140   2017-09-01  14616
141   2017-10-01  15108
142   2017-11-01  14059
143   2017-12-01  13978
144   2018-01-01  13022
145   2018-02-01  11888
146   2018-03-01  12713
147   2018-04-01  12919
148   2018-05-01  14108
149   2018-06-01  14289
150   2018-07-01  15205
151   2018-08-01  15466
152   2018-09-01  14024
153   2018-10-01  14254
154   2018-11-01  13335
155   2018-12-01  12455

In [16]:
df = df_monthly.join(unemployed_df.unem_r)

In [17]:
moudi

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2006,5.1,5.3,5.0,4.6,4.5,4.5,4.8,4.4,4.2,3.9,4.1,4.0
1,2007,5.0,4.9,4.4,4.2,4.2,4.5,4.9,4.5,4.5,4.4,4.4,4.8
2,2008,5.5,5.4,5.2,4.6,4.9,5.1,5.4,5.5,5.5,5.6,5.9,6.5
3,2009,7.8,8.3,8.2,7.7,8.0,8.4,8.5,8.5,8.6,8.7,8.5,8.8
4,2010,9.6,9.5,9.1,8.5,8.2,8.4,8.6,8.4,8.2,8.2,8.4,8.2
5,2011,9.0,8.8,8.2,7.8,7.8,8.2,8.4,8.2,8.3,8.2,8.2,8.4
6,2012,9.2,9.4,8.9,8.2,8.4,8.7,8.9,8.5,8.0,8.0,7.8,8.1
7,2013,9.1,8.7,8.0,7.4,7.5,7.9,7.9,7.7,7.4,7.4,7.0,6.7
8,2014,7.4,7.6,7.1,6.0,6.2,6.2,6.5,6.3,5.8,5.6,5.7,5.5
9,2015,6.4,6.2,5.6,5.2,5.3,5.2,5.4,5.0,4.7,4.7,4.7,4.7
10,2016,5.3,5.3,5.0,4.6,4.3,4.7,5.1,5.0,4.9,4.8,4.5,4.6
11,2017,5.3,5.3,4.7,4.4,4.4,4.6,4.9,5.0,4.6,4.4,4.4,4.4
12,2018,5.0,5.1,4.6,4.0,3.7,4.1,4.2,4.0,3.6,3.6,3.5,3.9

In [18]:
df

    CMPLNT_FR_DT  Count  unem_r
0     2006-01-01  16392     5.1
1     2006-02-01  13101     5.3
2     2006-03-01  15572     5.0
3     2006-04-01  15123     4.6
4     2006-05-01  16679     4.5
5     2006-06-01  16607     4.5
6     2006-07-01  17484     4.8
7     2006-08-01  18092     4.4
8     2006-09-01  17266     4.2
9     2006-10-01  17782     3.9
10    2006-11-01  16687     4.1
11    2006-12-01  17097     4.0
12    2007-01-01  16241     5.0
13    2007-02-01  12597     4.9
14    2007-03-01  14669     4.4
15    2007-04-01  14256     4.2
16    2007-05-01  16656     4.2
17    2007-06-01  16583     4.5
18    2007-07-01  17365     4.9
19    2007-08-01  17547     4.5
20    2007-09-01  16834     4.5
21    2007-10-01  17493     4.4
22    2007-11-01  16232     4.4
23    2007-12-01  16684     4.8
24    2008-01-01  16463     5.5
25    2008-02-01  13551     5.4
26    2008-03-01  14839     5.2
27    2008-04-01  14787     4.6
28    2008-05-01  16203     4.9
29    2008-06-01  16301     5.1
30    2008-07-01  17313     5.4
31    2008-08-01  18086     5.5
32    2008-09-01  17364     5.5
33    2008-10-01  17742     5.6
34    2008-11-01  16087     5.9
35    2008-12-01  16496     6.5
36    2009-01-01  14628     7.8
37    2009-02-01  12592     8.3
38    2009-03-01  14266     8.2
39    2009-04-01  13927     7.7
40    2009-05-01  15235     8.0
41    2009-06-01  15193     8.4
42    2009-07-01  16294     8.5
43    2009-08-01  16686     8.5
44    2009-09-01  16331     8.6
45    2009-10-01  16586     8.7
46    2009-11-01  15534     8.5
47    2009-12-01  15315     8.8
48    2010-01-01  15140     9.6
49    2010-02-01  11317     9.5
50    2010-03-01  14172     9.1
51    2010-04-01  14663     8.5
52    2010-05-01  15366     8.2
53    2010-06-01  15604     8.4
54    2010-07-01  16467     8.6
55    2010-08-01  16333     8.4
56    2010-09-01  16184     8.2
57    2010-10-01  17077     8.2
58    2010-11-01  15515     8.4
59    2010-12-01  14387     8.2
60    2011-01-01  13272     9.0
61    2011-02-01  12201     8.8
62    2011-03-01  14170     8.2
63    2011-04-01  14103     7.8
64    2011-05-01  15467     7.8
65    2011-06-01  15728     8.2
66    2011-07-01  16538     8.4
67    2011-08-01  16235     8.2
68    2011-09-01  15719     8.3
69    2011-10-01  16342     8.2
70    2011-11-01  15943     8.2
71    2011-12-01  15889     8.4
72    2012-01-01  14842     9.2
73    2012-02-01  13451     9.4
74    2012-03-01  14503     8.9
75    2012-04-01  14246     8.2
76    2012-05-01  16062     8.4
77    2012-06-01  15944     8.7
78    2012-07-01  16812     8.9
79    2012-08-01  17196     8.5
80    2012-09-01  16053     8.0
81    2012-10-01  16287     8.0
82    2012-11-01  14611     7.8
83    2012-12-01  15783     8.1
84    2013-01-01  14734     9.1
85    2013-02-01  12182     8.7
86    2013-03-01  13789     8.0
87    2013-04-01  14294     7.4
88    2013-05-01  15706     7.5
89    2013-06-01  15618     7.9
90    2013-07-01  17159     7.9
91    2013-08-01  17332     7.7
92    2013-09-01  16810     7.4
93    2013-10-01  17367     7.4
94    2013-11-01  15470     7.0
95    2013-12-01  15786     6.7
96    2014-01-01  14432     7.4
97    2014-02-01  12117     7.6
98    2014-03-01  13847     7.1
99    2014-04-01  13787     6.0
100   2014-05-01  15824     6.2
101   2014-06-01  15788     6.2
102   2014-07-01  16853     6.5
103   2014-08-01  17137     6.3
104   2014-09-01  16082     5.8
105   2014-10-01  16578     5.6
106   2014-11-01  14431     5.7
107   2014-12-01  14386     5.5
108   2015-01-01  13099     6.4
109   2015-02-01  10872     6.2
110   2015-03-01  13122     5.6
111   2015-04-01  14010     5.2
112   2015-05-01  15497     5.3
113   2015-06-01  15139     5.2
114   2015-07-01  16273     5.4
115   2015-08-01  16473     5.0
116   2015-09-01  15583     4.7
117   2015-10-01  15727     4.7
118   2015-11-01  14633     4.7
119   2015-12-01  15355     4.7
120   2016-01-01  13395     5.3
121   2016-02-01  12094     5.3
122   2016-03-01  13577     5.0
123   2016-04-01  13833     4.6
124   2016-05-01  14576     4.3
125   2016-06-01  14713     4.7
126   2016-07-01  14940     5.1
127   2016-08-01  15783     5.0
128   2016-09-01  14479     4.9
129   2016-10-01  15101     4.8
130   2016-11-01  13980     4.5
131   2016-12-01  14554     4.6
132   2017-01-01  13428     5.3
133   2017-02-01  11467     5.3
134   2017-03-01  12330     4.7
135   2017-04-01  12834     4.4
136   2017-05-01  14138     4.4
137   2017-06-01  14134     4.6
138   2017-07-01  15205     4.9
139   2017-08-01  15511     5.0
140   2017-09-01  14616     4.6
141   2017-10-01  15108     4.4
142   2017-11-01  14059     4.4
143   2017-12-01  13978     4.4
144   2018-01-01  13022     5.0
145   2018-02-01  11888     5.1
146   2018-03-01  12713     4.6
147   2018-04-01  12919     4.0
148   2018-05-01  14108     3.7
149   2018-06-01  14289     4.1
150   2018-07-01  15205     4.2
151   2018-08-01  15466     4.0
152   2018-09-01  14024     3.6
153   2018-10-01  14254     3.6
154   2018-11-01  13335     3.5
155   2018-12-01  12455     3.9

In [24]:
df.set_index('CMPLNT_FR_DT', inplace = True)

In [2]:
from config import darksky_key, darksky_key2, darksky_key3
import requests

In [109]:
r = requests.get(
    'https://api.darksky.net/forecast/'
    + darksky_key
    +'/40.7829,-73.9654,2006-03-04T12:12:12'
)

In [110]:
r.json()['daily']['data'][0]['temperatureHigh']

38.33

In [3]:
from calendar import monthrange

In [106]:
monthrange(year, 1)[1]

31

In [31]:
def weather_api(year):    
    daily_high_temp = {}
    url = 'https://api.darksky.net/forecast/'
    ny_coord = '/40.7829,-73.9654,'
    midday = 'T12:00:00'
    
    for i in range(1,13):
        print(i)
        days = monthrange(year, i)[1]
        
        for j in range(1, days+1):
            if i < 10:
                month = '0'+ str(i)
            
            else:
                month = str(i)
            
            if j < 10:
                day = '0' + str(j)
            
            else:
                day = str(j)
            
            r = requests.get(url + darksky_key2
                             + ny_coord + str(year)
                             + '-' + month + '-' + day + midday)
            key = str(year) + '-' + month + '-' + day
            value = r.json()['daily']['data'][0]['temperatureHigh']
            
            daily_high_temp[key] = value
    
    return pd.DataFrame.from_dict(daily_high_temp, orient='index')

In [8]:
df_temp_2014 = weather_api(2014)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
df_temp_2006 = weather_api(2006)
df_temp_2006.to_csv('df_temp_2006.csv')

In [ ]:
df_temp_2008 = weather_api(2008)
df_temp_2008.to_csv('df_temp_2008.csv')

In [7]:
df_temp_2010 = weather_api(2010)
df_temp_2010.to_csv('df_temp_2010.csv')

In [11]:
df_temp_2012 = weather_api(2012)
df_temp_2012.to_csv('df_temp_2012.csv')

In [14]:
df_temp_2014 = weather_api(2014)
df_temp_2014.to_csv('df_temp_2014.csv')

1
2
3
4
5
6
7
8
9
10
11
12

In [16]:
df_temp_2016 = weather_api(2016)
df_temp_2016.to_csv('df_temp_2016.csv')

1
2
3
4
5
6
7
8
9
10
11
12

In [19]:
df_temp_2018 = weather_api(2018)

1
2
3
4
5
6